<h1>Analytics on the vote</h1>
<div class="d-flex justify-content-end">
      <!--Div that will hold the pie chart-->
  <div id="chart_div" class="mr-auto p-6"></div>
  <div id="chart_div2" class="p-6"></div>
</div>

<button type="button" class="btn btn-primary">Download Report</button>