<h1>Home Page</h1>
<div>
    <% @files.each do |page|%>
        <div>
          <iframe height="500" width="1000" src="<%= page %>"></iframe>
        </div>
        <select class="custom-select">
          <option selected>Open this select menu</option>
          <option value="5" type="disabled">Firs place</option>
          <option value="3">Second place</option>
          <option value="1">Third place</option>
        </select>
        <br><br><br>
    <% end %>
</div>