<div class= "container">
  <div class="alert alert-secondary" role="alert">
    Select the zip file!
  </div>
  <label class="custom-file" id="customFile">
    <input type="file" class="custom-file-input">
    <span class="custom-file-control form-control-file"></span>
  </label>
</div>
<br>
<div class= "container">
  <div class="alert alert-secondary" role="alert">
    Select the users file!
  </div>
  <label class="custom-file" id="customFile">
    <input type="file" class="custom-file-input">
    <span class="custom-file-control form-control-file"></span>
  </label>
</div>